<option value='UH-60A'>UH-60A</option>
<option value='UH-60AP'>UH-60A+</option>
<option value='UH-60L'>UH-60L</option>
<option value='UH-60M'>UH-60M</option>
<option value='UH-72A'>UH-72A</option>
<option value='CH-53E'>CH-53E</option>
<option value='FA-18A'>FA-18A</option>