
<header> 
    <div class="navbar">
        <img src="/images/skull.bmp" alt="logo" class="logo">
        <nav class="menu">
            <ul>
                <li class="menu-item"><a href="/userRoute/dashboard">Dashboard</a></li>

                <div class="dropdown">
                    <li class="menu-item"><a href="">Reporting</a>
                        <div class="dropdown-content">
                            <ul>
                                <li class="menu-item"><a href="/crewRoute/allCrew">All Aircrew</a></li>
                                <li class="menu-item"><a href="/crewRoute/allQuals">Aircrew Qualifiactions</a></li>
                                <li class="menu-item"><a href="/planeRoute/allPlanes">All Aircraft</a></li>
                                <li class="menu-item"><a href="/flightRoute/allFlights">Mission Schedule</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
                
                <div class="dropdown">
                    <li class="menu-item"><a href="">Admin</a>
                        <div class="dropdown-content">
                            <ul>
                                <li class="menu-item"><a href="/crewRoute/createCrew">Add Aircrew</a></li>
                                <li class="menu-item"><a href="/planeRoute/createPlane">Add Aircraft</a></li>
                                <li class="menu-item"><a href="/flightRoute/createFlight">New Mission</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
                
                <div class="dropdown">
                    <li class="menu-item"><a href="">not used</a>
                        <div class="dropdown-content">
                            <ul>
                                
                                
                            </ul>
                        </div>
                    </li>
                </div>
                
                <li class="menu-item"><a href="/">Log out</a></li>
            </ul>
        </nav>
    </div>
</header>