<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <title>Flight Schedule</title>

    <script src="https://kit.fontawesome.com/bd13bdae7c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header -->

    <!-- body -->
    <%- body %>

    <!-- footer -->
</body>
</html>